.TeachersList {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.TeachersList a {
    background-color: #841818;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    font-family: Neutrif,sans-serif;
    height: 350px;
    width: 300px;
    text-align: center;
    border-radius: 10px;
    margin: 20px;
    display: grid;
    justify-content: center;
}
.TeacherImg {
    margin-right: 40px;
}