.University {
    height: 200px;
    font-family: 'Poppins', sans-serif;
    border-radius: 6px;
    background-color: #D79A28;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.University:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    background-color: #C48C25;

}
.uniName {
    font-size: 1.8em;
}