.Menu {
    height: 10vh;
    margin-top: 0;
    font-size: 18px;
    font-weight: 600;
    font-family: Neutrif,sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
.MenuRight {
    display: flex;
}
.MenuRight li {
    margin-right: 24px;
}
.MenuRight li a:hover {
    color: #841818;
}
img {
    height: 50%;
    width: auto;
}

@media only screen and (max-width: 800px) {
    .Menu {
        font-size: 16px;
        font-weight: 600;
      }
    .MenuRight li {
        margin-right: 8px;
    }
}